		/* 
		IS1113
		Piotr Janus
		S-ID: 119717661
		interests.html css sheet  
		
		Part of the css which helped me with positioning was taken from sites:
		https://www.w3schools.com/css/css3_box-sizing.asp
		https://www.w3schools.com/cssref/css3_pr_mediaquery.asp
		*/

		*{
					box-sizing: border-box;
		}


	html, body, div, span, h2, h3, h4, h5, h6, p, img, center, ul, li{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}



header {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 33px;
letter-spacing: 2px;
word-spacing: 2px;
color: #312A85;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: none;
}


	body {
		background: #473550;
background: -moz-linear-gradient(-45deg, #473550 0%, #00014D 50%, #C5C5C5 100%);
background: -webkit-linear-gradient(-45deg, #473550 0%, #00014D 50%, #C5C5C5 100%);
background: linear-gradient(135deg, #473550 0%, #00014D 50%, #C5C5C5 100%);
	}
	
		body, select, textarea {
		color: rgba(255, 255, 255, 0.75);
		font-family: "Source Sans Pro", sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.65;
	}


		
		/* Banner */

	#banner {
		align-items: center;
		display: flex;
		justify-content: center;
		min-height: 0vh;
		background: #3E1B11;
		background: -moz-linear-gradient(-45deg, #3E1B11 0%, #98A5A9 50%, #000000 100%);
		background: -webkit-linear-gradient(-45deg, #3E1B11 0%, #98A5A9 50%, #000000 100%);
		background: linear-gradient(135deg, #3E1B11 0%, #98A5A9 50%, #000000 100%);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top: 0;
		position: sticky;
		text-align: center;
		overflow: hidden;
	}

	
	
	/* jQuerry styling  */
	.fotorama {

		width: 100%;
		  height: 100%;



	}

		.fotorama > :last-child,
		.fotorama > :last-child > :last-child,
		.fotorama > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.fotorama .image.fit {
			margin: 0;
		}

		.fotorama .image img {
			border-radius: 4px 4px 0 0;
		}

		.fotorama .inner {
			padding: 1.5em;
			width: 100% 
		}

			@media screen and (max-width: 480px) {

				.fotorama .inner {
					padding: 1em;
				}

			}

		.fotorama.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

li a {

  color: white;
  text-align: center;
  padding: 14px 16px;
}


		/* Style the navbar */
.navbar {
  overflow: hidden;
background: #714134;
background: -moz-linear-gradient(-45deg, #714134 0%, #D2D2D2 30%, #000000 100%);
background: -webkit-linear-gradient(-45deg, #714134 0%, #D2D2D2 30%, #000000 100%);
background: linear-gradient(135deg, #714134 0%, #D2D2D2 30%, #000000 100%);
  position: sticky;
}

/* Navbar links */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
    position: sticky;
			text-decoration: none;
		white-space: nowrap;
			font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

letter-spacing: 2px;
word-spacing: 2px;
color: #312A85;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: none;
}


.InterestText {
  position: relative;
 text-align: left;


}


